:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --alt-color: grey;
  --text-color: white;
  --bg-color: #242424;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  --line-color-0: #ff0000;
  --line-color-1: #4400ff;
  --line-color-2: #51ff00;
  --line-color-3: #00a2ff;
  --line-color-4: #00ff73;
  --line-color-5: #d400ff;
  --line-color-6: #d0ff00;
  --line-color-7: #ff0080;
  --line-color-8: #2bff00;
  --line-color-9: #0011ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flow-root;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
