.container {
	padding: 0 2rem;
	max-width: 100%;
	text-align: center;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	display: flow-root;
	margin: 0;

	--alt-color: grey;
	--text-color: white;
	--bg-color: #242424;
	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--bg-color);

	--line-color-0: #ff0000;
	--line-color-1: #4400ff;
	--line-color-2: #51ff00;
	--line-color-3: #00a2ff;
	--line-color-4: #00ff73;
	--line-color-5: #d400ff;
	--line-color-6: #d0ff00;
	--line-color-7: #ff0080;
	--line-color-8: #2bff00;
	--line-color-9: #0011ff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
	.container {
	  color: #213547;
	  background-color: #ffffff;
	}
  }

.App {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.SelectionList {
	list-style-type: none;
	overflow-y: scroll;
	height: 95vh;
	width: 100%;
}

.SidePanel {
	width: 10%;
	margin-right: 3%;
}

.SelectionButton {
	width: 100%;
	background-color: var(--alt-color);
	color: var(--text-color);
	font-weight: bold;
	cursor: pointer
}

.SelectionButton:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.Active {
	background-color: var(--text-color);
	color: var(--bg-color);
}
